@font-face {
  font-family: 'Caviar_Dreams_Bold';
  src: url('../fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf');
}
@font-face {
  font-family: 'Caviar_Dreams';
  src: url('../fonts/Caviar-Dreams/CaviarDreams.ttf');
}
*
{
	border:0;
	padding: 0;
	margin: 0;

}
body
{

	background: #ffffff;
	border:0;
	padding: 0;
	margin: 0;
	color: white;
	font-style: 'Caviar_Dreams';

}
span, li
{
	font-family: 'Caviar_Dreams';
}
.logosection span
{	
	margin: 30px;
	color: white;
}
.logosection
{

	border:0;
	width: 50%;
	display: inline-block;

}
.logo
{
	background: #ffffff;
	border: 0;
	height: 100px;
	width: 100%;
}
.logosub
{
	background: #E6E7E8;
	border: 0;
	height: 25px;
	width: 100%;

}
.logoinfo
{
	background: #103251;
	border: 0;
	height: 25px;
	width: 100%;

}
.logonum
{
	background: #798C9D;
	border: 0;
	height: 50px;
	width: 100%;
}
.logonum h4
{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	color: white;
	display: inline-block;
	font-family: 'Caviar_Dreams';
	font-size: 30px;
}
.logsection
{
	background: #ffffff;
	border: 0;
	width: 50%;
	display: inline-block;
	float: right;

}
.login
{
	width: 50%;
	height: 100px;
	background-color: #798C9D;
	float: left;
}
.singin
{
	width: 50%;
	height: 100px;
	background-color: #798C9D;
	float: right;
}
.searchbar
{
	width: 100%;
	height: 100px;
	background-color: #1EB9C0;
	float: left;
}
.searchbar #menuimg
{
	width: 30px;
	height: 30px;
	margin-left: 25px;
	margin-top: 25px;
	float: left;

}
.searchbar input[type="text"]
{
	height: 50px;
	width: 70%;
	margin-left: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #80DCE0;
	display: inline-block;
	color: white;

}
#search
{
	height: 50px;
	width: 10%;
}
.searchbar::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
.carrusel img
{
	background-color: #BD314D;
	width: 100%;
	height: 420px;

}
.carruselinfo #uno
{

	background-color: #103251;
	width: 25%;
	height: 50px;
	display: inline-block;
}
.carruselinfo #dos
{
	background-color: #1EB9C0;
	width: 25%;
	height: 50px;
	display: inline-block;
}
.carruselinfo #tres 
{
	background-color: #103251;
	width: 50%;
	height: 50px;
	display: inline-block;

}
.content
{
	background-color: #ffffff;
	width: 100%;
	height: 600px;
	display: inline-block;
}
.contentboxs
{
	width: 50%;
	float: left;
}
.contentboxs #box1
{

	background-color: #1EB9C0;
	width: 100%;
	height: 350px;

}
.contentboxs #box2
{

	background-color: #798C9D;
	width: 50%;
	height: 350px;
	float: right;
	


}
.contentboxs #box3 img
{

	background-color: #BD314D;
	width: 50%;
	height: 175px;
	


}

.contentboxs #box4
{

	background-color: #103251;
	width: 50%;
	height: 175px;


}
.contentboxs #box6
{

	background-color: #1EB9C0;
	width: 50%;
	height: 175px;

}
.contentboxs #box5 img
{

	background-color: #BD314D;
	width: 50%;
	height: 175px;
	float: right;

}
.contentboxs2
{
	width: 50%;
	float: right;

}
.contentboxs2 #box1
{
	background-color: #103251;
	width: 50%;
	height: 175px;
	float: right;
}
.contentboxs2 #box2
{
	background-color: #798C9D;
	width: 50%;
	height: 175px;
	float: left;
}
.contentboxs2 #box3 img
{
	background-color: #BD314D;
	width: 100%;
	height: 350px;
	float: left;
	
}
.contentboxs2 #box4
{
	background-color: #1EB9C0;
	width: 100%;
	height: 350px;
	display: inline-block;

}
.menu 
{
	background-color: #0A3250;
	height: auto;
	width: 100%;
	float: left;
	
}
.menu span, ul, li, a, a:hover
{
	color: #00B9C0 !important;
}
.menu div
{	
	float: left;
	width: 290px;
	margin-left: 26px;
	margin-top: 26px;
	margin-bottom: 26px;

}
.menu ul, li
{	
	margin: 0px; 
}
.cbp-hsmenu1 
{
	list-style: none;
	
}
.cbp-hssubmenu1 li
{
	list-style: circle;

}
ul.cbp-hssubmenu1
{
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 26px;

}
.slidingDiv {
  
  	background-color: #0A3250;
	height: auto;
	width: 100%;
	display: none;

}
.cbp-hsmenu1
{
	list-style: none;
	
}
.cbp-hssubmenu li
{
	list-style: circle;

}
ul.cbp-hssubmenu
{
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 26px;

}
#show_hidemenu
{
   
   	margin-left: 25px;
   	margin-right: 10px;
   	margin-top: 25px;
   	margin-bottom: 25px;
   	width: 40px;
   	height: 50px;
   	display: inline-block;

}
.footersection
{
	width: 100%;
	display: inline-block;

}
.loginfot
{

	width: 25%;
	height: 100px;
	background-color: #798C9D;
	float: left;

}
.singinfot
{
	width: 25%;
	height: 100px;
	background-color: #798C9D;
	float: right;

}
.copyrigths
{

	background: #00B9C0;
	border: 0;
	height: 100px;
	width: 50%;
	display: inline-block;
	float: left;

}
.slideshow 
{

  margin: 0 auto;
  height: 420px;

}

.inner {
 
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 0 0 56% 0;
  text-align: center;
  width: 100%;
  height: 420px;
}
.inner .img-block {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 420px;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
.inner .img-block.on {
  opacity: 1;
}
.inner .img-wrap {
  background: #aaa;
  position: relative;
  width: 100%;
  height: 420px;
}
.inner .img-wrap div {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  height: 420px;
}
.inner .img-wrap div:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 420px;
}
.inner img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 420px;
}
