.informativa
{
	margin-top: 50px;
	margin-left: auto;
	margin-bottom: 80px;
	min-height: calc(100vh - 330px); 
	font-family: 'Caviar_Dreams'; 
}
.column-right
{
	float: right;
	width: 22%;
	margin-top: 150px;
	padding-left: 40px;
}
.column-right ul
{
	list-style-image: url('../img/icons/descargar.png');
    margin-left: 0px;
}
.column-center2
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;

	
}
.column-center
{
	display: inline-block;
	width: 900px;
	margin-left: 80px;
		text-align: justify;
}
.titleinfo, .titleinfo hr
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}
.subhr
{
	text-align: center;
}
#searchBarMain1
{
	padding-top: 5px;
	font-size: 25px;
}
#searchbartop
{
	font-size: 18px;

}
.column-center span{ color: #00B9C0};
.column-center h2{ color: #0A3250;  }
.generalinformation{text-align: justify; border-right: 1px solid #1EB9C0; padding-right: 40px; padding-left 40px; list-style-type: circle;} 
.subtitle{ color: #00B9C0;}
.generalinformation ul
{
	margin-left: 50px;
}
.generalinformation ol li
{
	margin-left: 50px;
	list-style-type: disc;
}

#searchBarResults
{
	position: absolute;
	top: 55px;
	left: 115px;
	display: none;
	background-color: #00B9C0;
	color: white;
	z-index: 900;
	width: 68%;
	height: auto;
	-webkit-box-shadow: -19px 2px 19px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -19px 2px 19px -4px rgba(0,0,0,0.75);
	box-shadow: -19px 2px 19px -4px rgba(0,0,0,0.75);

}
#searchBarResultstop
{
	  position: absolute;
	  display: none;
	  top: 29px;
	  left: 53px;
	background-color: #00B9C0;
	color: white;
	z-index: 900;
	width: 292px;
	height: auto;
}
#searchBarResults a, #searchBarResults a:hover, #searchBarResults a:after, #searchBarResults a:before { color: white !important; }
#searchBarResultstop a, #searchBarResultstop a:hover, #searchBarResultstop a:after, #searchBarResultstop a:before { color: white !important; }
.resul
{
	margin-left: 18px;
}
.resultbars
{

	min-height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.resultbars:hover
{
	background-color: #0E3152;
}
#udg
{
	display: block;
    margin-left: auto;
    margin-right: auto 
}
#redaccion
{
	display: block;
    margin-left: auto;
    margin-right: auto 

}
.panel-heading{ text-align:  center;}
.table td { text-align: center;}
.table td { width: 50% !important;}
.table h5 { text-align:  center;}

#description a
{
	color: black !important;
}
#crateusers
{
	width: 450px;
	margin: auto;
	
}