.informativa
{
	margin-top: 50px;
	margin-left: auto;
	margin-bottom: 80px;
	min-height: calc(100vh - 330px); 
	font-family: 'Caviar_Dreams'; 
}
.column-left
{
	float: left;
	width: 115px;
	margin-left: 45px;

}
.column-right
{
	float: right;
	width: 250px;
	margin-left: 15px;
}
.column-center
{
	display: inline-block;
	width: 830px;
	text-align: justify;
	
}
.subhr
{
	text-align: center;
}
#searchBarMain1
{
	font-size: 25px;
}
#searchbartop
{
	font-size: 18px;

}
.column-center span{ color: #00B9C0};
.column-center h2{ color: #0A3250;  }
.generalinformation{text-align: justify;}
.subtitle{ color: #00B9C0;}

#searchBarResults
{

	position: absolute;
	display: none;
	top: 225px;
	background-color: #00B9C0;
	color: white;
	z-index: 900;
	width: 448px;
	height: auto;
	margin-top: -45px;
	margin-left: 95px;

}
#searchBarResultstop
{
	position: fixed;
	display: none;
	top: 40px;
	left: 937px;
	background-color: #00B9C0;
	color: white;
	z-index: 900;
	width: 292px;
	height: auto;
}
#searchBarResults a, #searchBarResults a:hover, #searchBarResults a:after, #searchBarResults a:before { color: white !important; }
#searchBarResultstop a, #searchBarResultstop a:hover, #searchBarResultstop a:after, #searchBarResultstop a:before { color: white !important; }
.resul
{
	margin-left: 18px;
}
.resultbars
{

	min-height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.resultbars:hover
{
	background-color: #0E3152;
}
#udg
{
	display: block;
    margin-left: auto;
    margin-right: auto 
}
#redaccion
{
	display: block;
    margin-left: auto;
    margin-right: auto 

}
.panel-heading{ text-align:  center;}
.table td { text-align: center;}
.table td { width: 50% !important;}
.table h5 { text-align:  center;}