@font-face{
  	font-family: 'Caviar_Dreams_Bold';
	 src: url('../fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf');
}

@font-face {
  font-family: 'Caviar_Dreams';
  src: url('../fonts/Caviar-Dreams/CaviarDreams.ttf');
}
*{

	font-style: 'Caviar_Dreams';

}
body
{

	background: #ffffff;
	font-style: 'Caviar_Dreams';

}