/* projects */
.paggersection
{
    width: 50%;
    height: 30px;

    text-align: center;
}
.paggersection li,
.paggersection ul
{
    font-size: 17px;

    display: inline-block;

    margin-right: 10px;
    margin-left: 10px;

    cursor: pointer;
}
.paggersection li.active
{
    color: #00b9c0;
}
.projects2,
.projects3,
.projects4,
.projects5
{
    display: none;
}
.sections p
{
    width: 450px;

    text-align: justify;
}
.commets p
{
    width: 450px;
    margin-left: 15px;

    text-align: justify;
}
.commets hr
{
    color: #00b9c0;
}
small
{
    color: #00b9c0;
}
.projectsbut
{
    margin-left: 10px !important;
}
.projecttitle
{
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;

    text-align: justify;
}

/* Follow ups */
.createFollowup
{
    display: inline-block;

    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;

    vertical-align: top;
    text-indent: -9999px;

    background-image: url('../img/Iconsvg/Proyectos/seguimiento-nuevo.svg');
    background-repeat: no-repeat;
}
.Followups
{
    display: inline-block;

    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;

    text-indent: -9999px;

    background-image: url('../img/Iconsvg/Proyectos/seguimiento-comentario.svg');
    background-repeat: no-repeat;
}
.nocomets
{
    display: inline-block;

    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;

    text-indent: -9999px;

    background-image: url('../img/Iconsvg/Proyectos/seguimiento.svg');
    background-repeat: no-repeat;
}
#owl-demo
{
    display: inline-block !important;

    width: 75%;
    margin-left: 10px;

    vertical-align: top;
}
.owl-item
{
    margin: auto;
}
.customNavigation
{
    display: inline-block;

    width: 60px;
    height: 60px;
    padding: 10px;
}
.customNavigation  a
{
    margin-right: auto;
    margin-left: auto;
}
.followuph5
{
    font-weight: bold;

    color: #0a324f !important;
}
#is_sponsored
{
    border: none !important;
    background-color: transparent !important;
}
table
{
    border: none !important;
    border-color: none !important;
}
#followup
{
    width: 850px;
    margin-top: 10px;
    margin-bottom: 25px;

    text-align: justify;
}
#followup h4
{
    color: #00b9c0;
}
#comments
{
    width: 450px;
    margin-left: 20px;

    text-align: justify;
}
#myModalLabel
{
    margin: 0;
}
.modal-body
{
    padding: 10px !important;
}
.modal-body h3
{
    margin: 0 !important;
}
.modal
{
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
