/* projects */
.paggersection
{

  width: 50%;
  height: 30px;
  text-align: center;
}
.paggersection li ,.paggersection ul
{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 17px;
}
.paggersection li.active
{
  color: #00B9C0;
}
.projects2,
.projects3,
.projects4,
.projects5
{
  display: none;
}
.sections p
{
  width: 450px;
  text-align: justify;
  margin-left:
}
.commets p
{
  width: 450px;
  text-align: justify;
  margin-left: 15px;
}
.commets hr
{
  color: #00B9C0;
}
small
{
    color: #00B9C0;
}
.projectsbut
{
  margin-left: 10px !important;
}
.projecttitle
{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  text-align: justify;
}

/* Follow ups */
.createFollowup
{
  background-image: url("../img/Icon svg/Proyectos/seguimiento-nuevo.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  display:inline-block;
	text-indent:-9999px;
}
.Followups
{
  background-image: url("../img/Icon svg/Proyectos/seguimiento-comentario.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  display:inline-block;
	text-indent:-9999px;
}
.nocomets
{
  background-image: url("../img/Icon svg/Proyectos/seguimiento.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  display:inline-block;
	text-indent:-9999px;
}
