

/* CSS System */
@font-face{
  	font-family: 'Caviar_Dreams_Bold';
	 src: url('../fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf');
}

@font-face {
  font-family: 'Caviar_Dreams';
  src: url('../fonts/Caviar-Dreams/CaviarDreams.ttf');
}
*{
	border:0;
	padding: 0;
	margin: 0;
	font-style: 'Caviar_Dreams' !important;

}
body
{

	background: #ffffff;
	border:0;
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Caviar_Dreams' !important;

}
input, select
{
		font-family: 'Caviar_Dreams_Bold' !important;
		margin: 0 !important;

}
.sysheader
{
	width: 100%;
	height: 195px;

	display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-flow: wrap;

    display: flex;
    flex-flow: wrap;
    flex-direction: row;

     -webkit-flex: 1 1 auto;
   

}
.headerconteiner1
{
	background: #ffffff; 
	width: 38%;
	height: 100px;
}

.headerconteinerC
{
	background: #00B9C0;
	width: 12.5%;
	height: 100px;
	border-left: 1px solid #fff;
}
.headerconteinerF
{
	background: #000000;
	width: 12%;
	height: 195px;
}
.headerconteinerF #perfil 
{
	width: 100%;
	height: 100%;
}
.headerconteiner2
{
	
	background: #F1F2F2;
	height: 25px;
	margin-top: -95px;
	width: 88%;
	
}
.headerconteiner3
{
	
	background: #0E3152;
	height: 25px;
	margin-top: -70px;
	width: 88%;
	
}
.headerconteiner4
{
	
	background: #00B9C0;
	height: 45px;
	margin-top: -45px;
	width: 20%;
	
}
.headerconteiner5
{
	
	background: #798B9D;
	height: 45px;
	margin-top: -45px;
	width: 68%;
	
}
.syscontent
{
	width: 100%;

	display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-flow: wrap;

    display: flex;
    flex-flow: wrap;
    flex-direction: row;


}
.sysmenu
{
	width: 20%;
	height: auto;
	min-height: 450px;
	background: #CDF1F3 ;

}
.sysmaincontent
{
	width: 74%;
	height: 100%;
	min-height: 350px;
	background: #fff;
	padding-bottom: 50px;

}
.headerconteiner1 img
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	z-index: 999;
}
.headerconteinerC img
{
	display: block;
	margin-top: 22px;
	margin-right: auto;
	margin-left: auto;

}
.headerconteinerC span
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: 'Caviar_Dreams_Bold';
	color: white;
}
.headerconteiner3 span
{
	font-family: 'Caviar_Dreams';
	color: white;
	padding-left: 29%;
}
.headerconteiner4 h4 { color :white; font-family: 'Caviar_Dreams'; padding-left: 5%;}

.headerconteiner4:after
{
	content:"";
    border-color:  #00B9C0 transparent transparent transparent;
    border-style:solid;
    border-width: 25px;
    width:0;
    height:10px;
    position: absolute;
    left:15%;
    
}
.headerconteiner5 h4
{ 
	 display: inline-block;
	 color :white;
	 font-family: 'Caviar_Dreams'; 
	 padding-left: 8%;
}
.headerconteiner5 h5
{ 
	 display: inline-block;
	 color :white;
	 font-family: 'Caviar_Dreams'; 
	 margin-left: 40%;
}
.cvmenuitems
{
	margin-top: 35px;
	width: 100%;
}
.cvmenuitems li
{
	list-style: none;
	font-family: 'Caviar_Dreams_Bold';
}
.cvmenuitems a
{
	color: #1EB9C0;
}
.cvmenuitems a:hover
{
	color: #0E3152;
	text-decoration: none;
}
.cvmenuitems hr
{
	width: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #000000;
}
.footer
{
	width: 100%;
	height: 100px;

	display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-flow: wrap;

    display: flex;
    flex-flow: wrap;
    flex-direction: row;

     -webkit-flex: 1 1 auto;

}
.footermenu1
{
	width: 38.5%;
	height: 100%;
	background-color: #798B9D;

}
.footermenu1 span, .footermenu1 h4
{
	color: white;
	padding-left: 25px;
	padding-top:  20px;
	font-family: 'Caviar_Dreams_Bold';
}
.footermenuI
{
	width: 12.3%;
	height: 100%;
	background-color: #1EB9C0;
	border-right: 1px solid #ffffff;
	
}
.footermenuI.logout
{
	border-right: 0;
	background-color: #0E3152;
}
.footermenuI img
{
	display: block;
	margin-top: 22px;
	margin-right: auto;
	margin-left: auto;
}
.footermenuI span
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-bottom: 5px;
	font-family: 'Caviar_Dreams_Bold';
	color: white;
}
.cvforms
{
	padding-left: 145px;
	font-family: 'Caviar_Dreams_Bold';
}
.cvforms h4
{
  margin-top: 20px;	
}
.cvtitle
{
	margin-top: 50px;
	margin-left: -140px;
	font-family: 'Caviar_Dreams_Bold';	
}
.cvtitle h1 
{
	margin-left: 30px;
	display: inline-block;
	font-family: 'Caviar_Dreams_Bold';
}
.cvtitle img
{
	margin-left: 30px;
	padding-bottom: 30px;
}
.cvtitle hr 
{ 
	margin-left:  140px;
	margin-top: -20px;
	margin-bottom: 0;
	width:  60% !important;  
	border-bottom: 2px solid #1EB9C0; 
}
.cvforms hr
{
		width:  71%; 
}

/* All Inputs Style */

.radio label:before {
	border-radius: 8px;
}
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-right: 15px;
	font-size: 13px;
	width: 10px;
}
input[type="radio"]
{
	display: inline !important;
	margin-left: 5% !important;
}
.radiotext
{
	margin-left: 5px;
}

.cvforms input[type="text"], .cvforms input[type="password"], 
.cvforms input[type="file"]
{
	box-sizing: border-box;
	height: 25px;
	width: 450px;
	background-color: #CDF1F3;
	font-family: 'Caviar_Dreams_Bold';
	color: #0E3152;
	border: 0px;
	border-color: none;
	box-shadow: none;
	-webkit-appearance:none;
	-moz-appearance: none;
	padding:2px 18px 2px 9px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
	
}
.cvforms textarea
{
	box-sizing: border-box;
	height: 105px;
	width: 450px;
	max-height: 105px;
	max-width: 450px;
	background-color: #CDF1F3;
	font-family: 'Caviar_Dreams_Bold';
	color: #0E3152;
	border: 0px;
	border-color: none;
	box-shadow: none;
	-webkit-appearance:none;
	-moz-appearance: none;
	padding:2px 18px 2px 9px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
	
}
.question p
{
	width: 450px;
	margin: 5px;
}
.cvforms select 
{
	box-sizing: border-box;
	height: 25px !important;
	width: 450px;
	background-color: #CDF1F3;
	font-family: 'Caviar_Dreams_Bold';
	color: #0E3152;
	border: 0px;
	border-color: none;
	box-shadow: none;
	/*-webkit-appearance:none;
	-moz-appearance: none;*/
	padding: 3px 5px;

    -webkit-appearance: listbox;
    -moz-appearance: listbox;
    -ms-appearance: listbox;
    -o-appearance: listbox;
    appearance: listbox;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: block;
	
}
.cvforms input[type="file"]
{
	box-sizing: border-box;
	display: inline-block;
}
.cvforms input[type="file"]::before
{
	box-sizing: border-box;
	content: 'Selecionar Archivo';
	font-size: 12px;
	
}
.cvforms input[type="file"]::-webkit-file-upload-button {
	visibility:  hidden;
	padding-top: 10px;
	
}
.savebutton
{
	width: 335px !important;
	height: 40px;
	background-color: #0E3152 !important;
	color: white;
	font-size: 20px;
	opacity: 1!important;
}
.cleanbutton
{
	width: 120px !important;
	height: 40px;
	background-color: #1EB9C0 !important;
	color: white;
	font-size: 20px;
	margin-left: -10px !important;
	opacity: 1!important;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #1EB9C0 !important;
}
::-webkit-input-placeholder { /* navegadores Webkit */
    color:   #1EB9C0 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 hasta 18 */
    color:    #1EB9C0 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #1EB9C0 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #1EB9C0 !important;
}
.ui-datepicker 
{
	width: 450px !important;
}
.ui-widget-content
{
	border: 1px solid #aaa;
	background: #0E3152 url("") 50% 50% repeat-x !important;
	color: #222;
}
.ui-state-default a
{
	background: #0E3152 url("") 50% 50% repeat-x !important;
}
thead th
{
	background: #0E3152 !important;
	color: white;
}
.infobox
{
	
	width: 190px;
	height: 35px;
	color: white;
	background-color: #0E3152;
    color: white;
    display: inline-block;
	padding: 7px;

}
.errorMessage
{
	display: inline-block;
	border-radius: 5px; 
	border: 2px solid #F20862;
	background: #F20862;
	color: #fff;
	width: 290px !important;

	margin-left: 8px;
	font-family: 'Caviar_Dreams_Bold' !important;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
	text-align:  center;
}
.row.buttons input[type="button"]
{
	color: white;
	font-size: 20px;
 	width: 190px ;
	height: 40px;
	background-color: #1EB9C0;
	opacity: .6;
}
.phones
{ 
	display: inline-block !important;

}
.phones.country{ width: 65px !important; margin-right: 6px !important; }
.phones.state{ width: 65px !important; margin-right: 6px !important; }
.phones.phonew{ width: 240px !important; margin-right: 6px !important; }
.extension { width: 57px !important; margin-right: 0px !important; }

.newaddres
{
	width: 450px;
	background-color: #1EB9C0;

}
.newaddres a
{
	text-decoration: none;
	color: white;
}
.newaddres a:hover
{
	text-decoration: none;
	color: white;
}

/* Error and Success Messege */

.backcontainer
{
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
 	background: rgba(40, 50, 90, .70);
 	z-index: 900;
 	font-family: 'Caviar_Dreams_Bold';
	
}
.backcontainer h2{ color: #1EB9C0; }

.maincontainer
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	background: #ffffff;
	height: 270px;
	width: 400px;

}
.susses , .errorh2 , .successh2{ padding-top: 50px; text-align: center; }

.susses hr , .errorh2 hr , .successh2 hr 
{

	border-bottom: 2px solid black;
	width: 80px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	margin-bottom: 35px;
}
.susbut , .backbut
{
	height: 50px;
	width: 400px;
	margin-top: 30px;
	background-color: #0E3152;
	color: white;
	font-family: 'Caviar_Dreams';
}
.remainder
{
	width: 260px;
	margin-left: auto;
	margin-right: auto;
}
.backgrnd
{
	background-image: url('http://www.hdwallpaperscool.com/wp-content/uploads/2014/07/river-bridge-san-francisco-desktop-wallpapers.jpeg') !important;
	width: 100%;
	height: 100%;
}
.errorbut , .cleanbut
{
	height: 50px;
	width: 400px;
	margin-top: 20px;
	background-color: #F20862;
	color: white;
	font-family: 'Caviar_Dreams';
}
.errorh2 h2 , .errorh2 h2 {color: #F20862 !important;}
.successh2 h2 { color: #0E3152;}
/* ---------- */

.errordiv
{
	display: none;
}
.cleandiv
{
	display: none;
}
.successdiv
{
	display: none;
}
.abortdiv
{
	display: none;
}
.infoAccount h5
{
 	color: #00B9C0; 
}
.portlet 
{
  width: 100% !important;
  font-family: 'Caviar_Dreams' !important;
  color: #1EB9C0 !important;

	
}
font-size: 1px !important;
}
.operations li a:visited, .operations li  a:hover
{
	  color: #1EB9C0 !important;
}
.portlet ul li a
{
	font-family: 'Caviar_Dreams' !important;
	font-size: 10pt !important;
	padding-left: 0px !important;
	padding-bottom: 5px;
	padding-top: 5px;
}
.portlet ul li a:hover
{
	font-family: 'Caviar_Dreams' !important;
	font-size: 10pt !important;
	padding-bottom: 5px;
	padding-top: 5px;
	background: 0;
}
.portlet hr
{
	font-family: 'Caviar_Dreams' !important;
    border-bottom: 1px solid #1EB9C0;
	width: 100%;
	
}
.addSomething , .deleteSomething, 
#showFormPhone, #showFormEmail , 
#btnCreateEmail , #btnCreatePhone
,#hideFormEmail , #hideFormPhone 
,#showFormGrade , #hideFormGrade,
#btnCreateGrade , .deleteSomething
{
	width: 450px !important;
	text-align: center !important;
	color: white !important;
	height: 25px !important;
	background-color: #00B9C0 !important;
	display: block !important;
	margin: 15px !important;
	padding: 3px;
}
.deleteSomething:hover , .addSomething:hover , .cancelSomething:hover ,.deletecontact:hover
{
	color: white;
	text-decoration: none;
}
.cancelSomething 
{
	display: none;
	width: 450px !important;
	text-align: center;
	color: white;
	height: 25px;
	background-color: #00B9C0;
	margin: 15px !important;
}
.deletecontact
{
	display: block !important;
	width: 450px !important;
	text-align: center;
	color: white;
	height: 25px;
	background-color: #00B9C0;
	margin: 15px !important;
}
.acountcont
{
	margin-top: 20px;
	margin-bottom: 50px;
}
.acoutmail
{
	margin-bottom: 30px;
}
.acountcont a 
{
	color: white;
	margin-top: 25px;
	background-color: #0A3250;
	padding: 5px;

}
.acountcont a:hover
{
	color: white;
	text-decoration: none;
}
.acountcont h5 , .acountcont p
{
	margin-bottom: 25px;
}
.portlet ul 
{
	width: 200px;
}
.sysmenu ul , .sysmenu ol 
{
  padding: 0;
}
.fillfirst
{
	margin-top: 110px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Select Option */


.plain-select  , .plain-select1{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    width: 450px;

}
.plain-select select , .plain-select1 select{
    line-height:normal;
    background-color: #CDF1F3;
	font-family: 'Caviar_Dreams_Bold';
	color: #0E3152;
   	height: 25px;
	width: 450px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    border-radius:4px;
    display:block;
    width:100%;
    padding:3px 18px 4px 6px;
    margin:0;
    line-height:normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-radius:4px;
}
.ie8 .plain-select select{padding-right:3px}
.plain-select ::-ms-expand {
 display:none;
}
.plain-select:after{
    content:"";
    position:absolute;
    z-index:2;
    right:9px;
    top:50%;
    margin-top:-3px;
    height:0;
    width:0;
    border-top:6px solid #0E3152;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    pointer-events:none;
}
/* files */

.filepicker {
  height: 25px;
  width: 450px;
  background-color: #CDF1F3;
  font-family: 'Caviar_Dreams_Bold';
  color: #0E3152;
  border:none;
  border-radius:3px;
  padding:3px 18px 4px 9px;
  text-align: left;
}
.filepicker.selected {
  background: #CDF1F3;
  color: #0E3152; 
}
.filepicker:hover {
  background:#0E3152;
  color:#fff;
}


/* checkbox */

.slideThree {
  height: 25px;
  width: 450px;
  background-color: #CDF1F3;
  font-family: 'Caviar_Dreams_Bold';
  position: relative;
  color: #0E3152;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-radius:4px;
    padding:2px 18px 2px 3px;

 
}
.slideThree:after {
  content: 'Inactivo';
  color: #0E3152;
  position: absolute;
  right: 10px;
  z-index: 0;

}
.slideThree:before {
  content: 'Activo';
  color: #0E3152;
  position: absolute;
  left: 20px;
  z-index: 0;
  
  }
.slideThree label {

  display: block;
  width: 64px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 15px;
  z-index: 1;
  background: #0A3250;
  background: -webkit-linear-gradient(top, #0A3250 0%, #57757B 40%, #57757B 100%);
  background: linear-gradient(to bottom, #0A3250 0%, #57757B 40%, #57757B 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;

}
.slideThree input[type=checkbox] {
  margin-right: 10px;
}
.slideThree input[type=checkbox]:checked + label {
  left: 378px;
}
.search-form
{
	margin: 0 !important;
	padding: 0 !important;
	background-color: white !important;

}
/* end .slideThree */

.searchcrud
{
	width: 100% !important;
	height: 50px !important;
	font-family: 'Caviar_Dreams_Bold' !important;
	width: 100% !important;
	height: 50px !important;
	padding:5px 18px 2px 9px !important;
	font-size:  24.5px !important;
}

.searchcrud::-webkit-input-placeholder { /* WebKit browsers */
    color: #1EB9C0 !important;
    	padding:5px 18px 2px 9px !important;
}
.searchcrud::-webkit-input-placeholder { /* navegadores Webkit */
    color:   #1EB9C0 !important;
    	padding:5px 18px 2px 9px !important;
}
.searchcrud:-moz-placeholder { /* Mozilla Firefox 4 hasta 18 */
    color:    #1EB9C0 !important;
    	padding:5px 18px 2px 9px !important;
}
.searchcrud::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #1EB9C0 !important;
    	padding:5px 18px 2px 9px !important;
}
.searchcrud:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #1EB9C0 !important;
    	padding:5px 18px 2px 9px !important;
}
.items table tr
{
	margin: 10px !important;
}
.items thead th
{
	background-color: #798B9D !important;
	text-align: left !important;
	padding-top: 3px !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
	padding-bottom: 3px !important;
	border: none !important;
	font-size: .9em !important;
	font-style: normal !important;
	font-family: 'Caviar_Dreams' !important;

}
.items table td
{
	background-color: white !important;
	text-align: left !important;
	padding: 3px !important;
	border: none !important;
	height: 30px !important;
	font-size: 1.1em !important; 
	min-width: 100px !important;
	margin-left: 30px !important;
}
.items table
{
	font-family: 'Caviar_Dreams' !important;
	border:none !important;

}
.button-column
{
	width: 80px !important;
}
.grid-view
{
	padding: 0px 0px !important;
}
.searchcrudbut
{
	width: 50px !important;
	height: 50px !important;
	border-radius: 4px;
	-moz-border-radius: 4px; 
    -webkit-border-radius:4px; 
	background-color: #CDF1F3;
}
table.detail-view
{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
	font-family: 'Caviar_Dreams' !important;
	text-align: justify !important;

}
table.detail-view th , table.detail-view  td
{
	text-align: left !important;
	background-color: white;
	font-family: 'Caviar_Dreams' !important;
		text-align: justify !important;
}
.row , .row1
{
	margin: 15px !important;
}
.dFieldT , .dFieldC , .dFieldE 
{
	margin-top: 10px !important;
}
.research2
{
	margin-left: 15px;
}
.odd td , .even td
{
	background: #ffffff !important;
	font-family: 'Caviar_Dreams' !important;
	width: 250px;
}
.odd th, .even td
{	font-family: 'Caviar_Dreams' !important;
	width: 250px;
}
.grid-view .button-column 
{
   width: 10% !important;
}
.detail-view th
{
	color: #37B9BF;
	font-family: 'Caviar_Dreams';
}
.detail-view td
{
	font-family: 'Caviar_Dreams';
}
.items td th 
{
	font-family: 'Caviar_Dreams';
}

.inner-addon { 

    position: relative; 
	width: 100% !important;
	height: 50px !important;
	display: block !important;
}

/* style icon */
.inner-addon .glyphicon {
  color: #1EB9C0;
  position: absolute;
  padding: 10px;
  pointer-events: none;
  font-size: 23px;

  z-index: 999;
}

/* align icon */
.left-addon .glyphicon  { left:  5px;}
.right-addon .glyphicon { right: 5px;}

/* add padding  */
