/* CSS System */
@font-face
{
    font-family: 'Caviar_Dreams_Bold';

    src: url('../fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf');
}
@font-face
{
    font-family: 'Caviar_Dreams';

    src: url('../fonts/Caviar-Dreams/CaviarDreams.ttf');
}
*
{
    font-style: 'Caviar_Dreams' !important;

    margin: 0;
    padding: 0;

    border: 0;
}
body
{
    font-family: 'Caviar_Dreams' !important;

    margin: 0;
    padding: 0;

    color: white;
    border: 0;
    background: #fff;
}
input,
select
{
    font-family: 'Caviar_Dreams_Bold' !important;

    margin: 0 !important;
}
.sysheader
{
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    width: 100%;
    height: 195px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
    -webkit-flex: 1 1 auto;
}
.headerconteiner1
{
    width: 38%;
    height: 90px;

    background: #fff;
}

.headerconteinerC
{
    position: relative;

    width: 12.5%;
    height: 90px;

    border-left: 1px solid #fff;
    background: #00b9c0;
}
.headerconteinerF
{
    z-index: 8;

    width: 12%;
    height: 145px;

    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115% 115%;
}
.headerconteinerF #perfil
{
    width: 100%;
    height: 165px;
    margin-top: -20px;
}
.headerconteiner2
{
    width: 88%;
    height: 25px;
    margin-top: -95px;

    background: #f1f2f2;
}
.headerconteiner3
{
    width: calc(88%);
    height: 35px;
    margin-top: -72px;

    background: #0e3152;
    padding-bottom: 10px;
}
.headerconteiner4
{
    width: calc(17% - 5px);
    height: 20px;
    margin-top: -53px;

    background: #00b9c0;
}
.headerconteiner5
{
    width: calc(72% + 15px);
    height: 35px;
    margin-top: -53px;
    font-size: 12px;
    background: #798b9d;
}
.syscontent
{
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    width: 100%;
    min-height: 450px;
    margin-top: -50px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
}
.sysmenu
{
    width: calc(17% - 5px);
    height: auto;
    min-height: 450px;

    background: #cdf1f3 ;
}
.sysmaincontent
{
    width: 79%;
    height: 100%;
    min-height: 350px;
    padding-bottom: 50px;

    background: #fff;
}
.headerconteiner1 img
{
    z-index: 999;

    display: block;

    height: 99%;
    margin-right: auto;
    margin-left: auto;
}
.headerconteinerC img
{
    display: block;

    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}
.headerconteinerC span
{
    font-family: 'Caviar_Dreams_Bold';

    display: block;

    margin-right: auto;
    margin-left: auto;

    text-align: center;

    color: white;
}
.headerconteiner3 h5
{
    font-family: 'Caviar_Dreams';

    display: inline-block;

    margin: 0;

    color: white;
}
.headerconteiner4 h4
{
    font-family: 'Caviar_Dreams';

    padding-left: 5%;
    margin: 0;

    color: white;
}

.headerconteiner4:after
{
    position: absolute;
    left: 12%;

    width: 0;
    height: 10px;
    margin-top: -10px;

    content: '';

    border-width: 25px;
    border-style: solid;
    border-color: #00b9c0 transparent transparent transparent;
}
.headerconteiner5 span
{
    font-family: 'Caviar_Dreams';

    display: inline-block;

    margin: 0;
    padding-left: 2.5%;

    color: white;
}
.headerconteiner3 h6
{
    font-family: 'Caviar_Dreams';

    display: inline-block;

    margin: 0;

    color: white;
}
.headerconteiner3 #logoutlable
{
    font-family: 'Caviar_Dreams';

    display: inline-block;

    margin: 0;

    color: white;
}
.headerconteiner3 a
{
    display: inline-block;

    color: white;
}
.headerconteiner3 a:hover
{
    display: inline-block;

    text-decoration: none;

    color: white;
}
.cvmenuitems
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.cvmenuitems li
{
    font-family: 'Caviar_Dreams_Bold';

    list-style: none;
    width: 88%;
}
.cvmenuitems a
{
    color: #1eb9c0;
}
.cvmenuitems a:hover
{
    text-decoration: none;

    color: #0e3152;
}
.cvmenuitems hr
{
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-bottom: 1px solid #000;
}
.footer
{
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    width: 100%;
    height: 90px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
    -webkit-flex: 1 1 auto;
}
.footermenu1
{
    width: 38.5%;
    height: 100%;

    background-color: #798b9d;
}
.footermenu1 span,
.footermenu1 h4
{
    font-family: 'Caviar_Dreams_Bold';

    padding-top: 20px;
    padding-left: 25px;

    color: white;
}
.footermenuI
{
    width: 12.3%;
    height: 100%;

    border-right: 1px solid #fff;
    background-color: #1eb9c0;
}
.footermenuI.logout
{
    border-right: 0;
    background-color: #0e3152;
}
.footermenuI img
{
    display: block;

    margin-top: 22px;
    margin-right: auto;
    margin-left: auto;
}
.footermenuI span
{
    font-family: 'Caviar_Dreams_Bold';

    display: block;

    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;

    text-align: center;

    color: white;
}
.cvforms
{
    font-family: 'Caviar_Dreams_Bold';

    padding-left: 125px;
}
.cvforms h4
{
    margin-top: 20px;
}
.cvtitle
{
    font-family: 'Caviar_Dreams_Bold';

    margin-top: 15px;
    margin-left: -140px;
}
.cvtitle h1
{
    font-family: 'Caviar_Dreams_Bold';

    display: inline-block;

    margin-left: 15px;
}
.cvtitle img
{
    margin-left: 30px;
    padding-bottom: 30px;
}
.cvtitle hr
{
    width: 80% !important;
    margin-top: -20px;
    margin-bottom: 0;
    margin-left: 120px;

    border-bottom: 2px solid #1eb9c0;
}
.cvforms hr
{
    width: 71%;
}

/* All Inputs Style */

.radio label:before
{
    border-radius: 8px;
}
label
{
    font-size: 13px;

    position: relative;

    display: inline-block;

    width: 10px;
    margin-right: 15px;

    cursor: pointer;
}
input[type='radio']
{
    display: inline !important;

    margin-left: 5% !important;
}
.radiotext
{
    margin-left: 5px;
}

.cvforms input[type='text'],
.cvforms input[type='password'],
.cvforms input[type='file']
{
    font-family: 'Caviar_Dreams_Bold';

    display: inline-block;

    box-sizing: border-box;
    width: 450px;
    height: 25px;
    padding: 2px 18px 2px 9px;

    color: #0e3152;
    border: 0;
    border-color: none;
        border-radius: 4px;
    background-color: #cdf1f3;
    box-shadow: none;

    -webkit-appearance: none;
       -moz-appearance: none;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
    -ms-border-radius: 4px;
     -o-border-radius: 4px;
}
.cvforms textarea
{
    font-family: 'Caviar_Dreams_Bold';

    display: inline-block;

    box-sizing: border-box;
    width: 450px;
    max-width: 450px;
    height: 105px;
    max-height: 105px;
    max-height: 105px;
    padding: 2px 18px 2px 9px;

    resize: none;

    color: #0e3152;
    border: 0;
    border-color: none;
        border-radius: 4px;
    background-color: #cdf1f3;
    box-shadow: none;

    -webkit-appearance: none;
       -moz-appearance: none;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
    -ms-border-radius: 4px;
     -o-border-radius: 4px;
}
.question p
{
    width: 450px;
    margin: 5px;
}
.cvforms select
{
    font-family: 'Caviar_Dreams_Bold';

    display: block;

    box-sizing: border-box;
    width: 450px;
    height: 25px !important;
    /*-webkit-appearance:none;
    -moz-appearance: none;*/
    padding: 3px 5px;

    color: #0e3152;
    border: 0;
    border-color: none;
        border-radius: 4px;
    background-color: #cdf1f3;
    box-shadow: none;

    -webkit-appearance: listbox;
       -moz-appearance: listbox;
        -ms-appearance: listbox;
         -o-appearance: listbox;
            appearance: listbox;
    -ms-border-radius: 4px;
     -o-border-radius: 4px;
}
.cvforms input[type='file']
{
    display: inline-block;

    box-sizing: border-box;
}
.cvforms input[type='file']::before
{
    font-size: 12px;

    box-sizing: border-box;

    content: 'Selecionar Archivo';
}
.cvforms input[type='file']::-webkit-file-upload-button
{
    visibility: hidden;

    padding-top: 10px;
}
.savebutton, .savebuttonp
{
    font-size: 20px;

    width: 335px !important;
    height: 40px;

    opacity: 1!important;
    color: white;
    background-color: #0e3152 !important;
}
.savebuttonp
{
  width: 450px !important;

}
.cleanbutton
{
    font-size: 20px;

    width: 120px !important;
    height: 40px;
    margin-left: -10px !important;

    opacity: 1!important;
    color: white;
    background-color: #1eb9c0 !important;
}
input::-webkit-input-placeholder
{
    /* WebKit browsers */
    color: #1eb9c0 !important;
}
::-webkit-input-placeholder
{
    /* navegadores Webkit */
    color: #1eb9c0 !important;
}
:-moz-placeholder
{
    /* Mozilla Firefox 4 hasta 18 */
    color: #1eb9c0 !important;
}
::-moz-placeholder
{
    /* Mozilla Firefox 19+ */
    color: #1eb9c0 !important;
}
:-ms-input-placeholder
{
    /* Internet Explorer 10+ */
    color: #1eb9c0 !important;
}
.ui-datepicker
{
    width: 450px !important;
}
.ui-widget-content
{
    color: #222;
    border: 1px solid #aaa;
    background: #0e3152 url('') 50% 50% repeat-x !important;
}
.ui-state-default a
{
    background: #0e3152 url('') 50% 50% repeat-x !important;
}
thead th
{
    color: white;
    background: #0e3152 !important;
}
.infobox
{
    display: inline-block;

    width: 190px;
    height: 35px;
    padding: 7px;

    color: white;
    color: white;
    background-color: #0e3152;
}
.errorMessage
{
    font-family: 'Caviar_Dreams_Bold' !important;
    font-size: 12px;
    line-height: 16px;

    display: inline-block;

    width: 290px !important;
    margin-left: 8px;
    padding: 8px 10px;

    text-align: center;

    color: #fff;
    border: 2px solid #f20862;
    border-radius: 5px;
    background: #f20862;
}
.row.buttons input[type='button']
{
    font-size: 20px;

    width: 190px ;
    height: 40px;

    opacity: .6;
    color: white;
    background-color: #1eb9c0;
}
.row.buttons a,
.row.buttons a:hover,
.row.buttons a:focus
{
    font-size: 20px;

    display: block;
    display: inline-block;

    width: 191px ;
    height: 41px;
    padding: 10px 15px;
    padding-bottom: 7px;
    vertical-align: top;

    text-align: center;
    text-decoration: none;

    opacity: .6;
    color: white;
    background-color: #1eb9c0;
}
.buttons a,
.buttons a:hover,
.buttons a:focus
{
    font-size: 20px;

    display: block;
    display: inline-block;

    width: 190px ;
    height: 40px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;

    text-align: center;
    text-decoration: none;

    opacity: .6;
    color: white;
    background-color: #1eb9c0;
}
.phones
{
    display: inline-block !important;
}
.phones.country
{
    width: 65px !important;
    margin-right: 6px !important;
}
.phones.state
{
    width: 65px !important;
    margin-right: 6px !important;
}
.phones.phonew
{
    width: 240px !important;
    margin-right: 6px !important;
}
.extension
{
    width: 57px !important;
    margin-right: 0 !important;
}

.newaddres
{
    width: 450px;

    background-color: #1eb9c0;
}
.newaddres a
{
    text-decoration: none;

    color: white;
}
.newaddres a:hover
{
    text-decoration: none;

    color: white;
}

/* Error and Success Messege */

.backcontainer
{
    font-family: 'Caviar_Dreams_Bold';

    position: absolute;
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
    left: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(40, 50, 90, .70);
}
.backcontainer h2
{
    color: #1eb9c0;
}

.maincontainer
{
    position: relative;

    width: 400px;
    height: auto;
    min-height: 270px;
    margin-top: calc(50vh - 135px);
    margin-right: auto;
    margin-left: auto;

    background: #fff;
}
.susses,
.errorh2,
.successh2
{
    padding-top: 40px;

    text-align: center;
}

.susses hr,
.errorh2 hr,
.successh2 hr
{
    width: 80px;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;

    text-align: center;

    border-bottom: 2px solid black;
}
.susbut,
.backbut
{
    font-family: 'Caviar_Dreams';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 400px;
    height: 50px;
    margin-top: 10px;

    color: white;
    background-color: #0e3152;
}
.backbut h3,
.errorbut h3
{
    margin: 0;
    padding: 5px;
}
.remainder
{
    min-width: 260px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.backgrnd
{
    width: 100%;
    height: 100%;

    background-image: url('http://www.hdwallpaperscool.com/wp-content/uploads/2014/07/river-bridge-san-francisco-desktop-wallpapers.jpeg') !important;
}
.errorbut,
.cleanbut
{
    font-family: 'Caviar_Dreams';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-top: 10px;

    color: white;
    background-color: #f20862;
}
.errorh2 h2,
.errorh2 h2
{
    color: #f20862 !important;
}
.successh2 h2
{
    margin: 0;

    color: #0e3152;
}
/* ---------- */

.errordiv
{
    display: none;
}
.cleandiv
{
    display: none;
}
.successdiv
{
    display: none;
}
.abortdiv
{
    display: none;
}
.infoAccount h5
{
    color: #00b9c0;
}
.portlet
{
    font-family: 'Caviar_Dreams' !important;

    width: 100% !important;

    color: #1eb9c0 !important;
}
.operations li a:visited,
.operations li  a:hover,
.operations li  a
{
    color: #00babf !important;
}
.grid-view .button-column
{
    text-align: right !important;
}
.portlet ul li a
{
    font-family: 'Caviar_Dreams' !important;
    font-size: 10pt !important;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0 !important;
}
.portlet ul li a:hover
{
    font-family: 'Caviar_Dreams' !important;
    font-size: 10pt !important;

    padding-top: 5px;
    padding-bottom: 5px;

    background: 0;
}
.portlet hr
{
    font-family: 'Caviar_Dreams' !important;

    width: 88%;

    border-bottom: 1px solid #1eb9c0;
}
.addSomething,
.deleteSomething,
#showFormPhone,
#showFormEmail,
#btnCreateEmail,
#btnCreatePhone,
#hideFormEmail,
#hideFormPhone,
#showFormGrade,
#hideFormGrade,
.deleteSomething
{
    display: block !important;

    width: 450px !important;
    height: 25px !important;
    margin: 15px !important;
    padding: 3px;


    text-align: center !important;

    color: white !important;
    background-color: #00b9c0 !important;
}
.deleteSomething:hover,
.addSomething:hover,
.cancelSomething:hover,
.deletecontact:hover
{
    text-decoration: none;

    color: white;
}
.cancelSomething
{
    display: none;

    width: 450px !important;
    height: 25px;
    margin: 15px !important;

    text-align: center;

    color: white;
    background-color: #00b9c0;
}
.deletecontact
{
    display: block !important;

    width: 450px !important;
    height: 25px;
    margin-top: 15px !important;
    margin-left: 15px !important;
    text-align: center;
    padding-top: 3px;

    color: white;
    background-color: #00b9c0;
}
.acountcont
{
    margin-top: 20px;
    margin-bottom: 50px;
}
.addSomething a:hover ,.addSomething a,.addSomething a:focus
{
  text-decoration: none !important;
}
.acoutmail
{
    margin-bottom: 30px;
}
.acountcont a
{
    margin-top: 25px;
    padding: 5px;

    color: white;
    background-color: #0a3250;
}
.acountcont a:hover
{
    text-decoration: none;

    color: white;
}
.acountcont h5,
.acountcont p
{
    margin-bottom: 25px;
}
.portlet ul
{
    width: 200px;
}
.sysmenu ul,
.sysmenu ol
{
    padding: 0;
}
.fillfirst
{
    display: block;

    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

/* Select Option */


.plain-select,
.plain-select1
{
    position: relative;

    display: inline-block;

    width: 450px;

    vertical-align: middle;
}
.plain-select2
{
    position: relative;

    display: inline-block;

    width: 150px;

    vertical-align: middle;
}
.plain-select3
{
    position: relative;

    display: inline-block;

    width: 100%;

    vertical-align: middle;
}
.plain-select3 select
{
    font-family: 'Caviar_Dreams_Bold';
    line-height: normal;
    line-height: normal;

    display: block;

    width: 100%;
    height: 25px;
    margin: 0;
    padding: 3px 18px 4px 6px;

    color: #0e3152;
        border-radius: 4px;
        border-radius: 4px;
        border-radius: 4px;
    background-color: #cdf1f3;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none;
    -ms-border-radius: 4px;
     -o-border-radius: 4px;
}
.plain-select2 select
{
    font-family: 'Caviar_Dreams_Bold';
    line-height: normal;
    line-height: normal;

    display: block;

    width: 150px;
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 3px 18px 4px 6px;

    color: #0e3152;
        border-radius: 4px;
        border-radius: 4px;
        border-radius: 4px;
    background-color: #cdf1f3;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none;
    -ms-border-radius: 4px;
     -o-border-radius: 4px;
}
.plain-select select,
.plain-select1 select
{
    font-family: 'Caviar_Dreams_Bold';
    line-height: normal;
    line-height: normal;

    display: block;

    width: 450px;
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 3px 18px 4px 6px;

    color: #0e3152;
        border-radius: 4px;
        border-radius: 4px;
        border-radius: 4px;
    background-color: #cdf1f3;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none;
    -ms-border-radius: 4px;
     -o-border-radius: 4px;
}
.ie8 .plain-select select
{
    padding-right: 3px;
}
.plain-select ::-ms-expand
{
    display: none;
}
.plain-select:after
{
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 9px;

    width: 0;
    height: 0;
    margin-top: -3px;

    content: '';
    pointer-events: none;

    border-top: 6px solid #0e3152;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.plain-select2:after
{
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 9px;

    width: 0;
    height: 0;
    margin-top: -3px;

    content: '';
    pointer-events: none;

    border-top: 6px solid #0e3152;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.plain-select3:after
{
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 9px;

    width: 0;
    height: 0;
    margin-top: -3px;

    content: '';
    pointer-events: none;

    border-top: 6px solid #0e3152;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
/* files */

.filepicker
{
    font-family: 'Caviar_Dreams_Bold';

    width: 450px;
    height: 25px;
    padding: 3px 18px 4px 9px;

    text-align: left;

    color: #0e3152;
    border: none;
    border-radius: 3px;
    background-color: #cdf1f3;
}
.filepicker.selected
{
    color: #0e3152;
    background: #cdf1f3;
}
.filepicker:hover
{
    color: #fff;
    background: #0e3152;
}


/* checkbox */

.slideThree
{
    font-family: 'Caviar_Dreams_Bold';

    position: relative;

    width: 450px;
    height: 25px;
    padding: 2px 18px 2px 3px;

    color: #0e3152;
        border-radius: 4px;
        border-radius: 4px;
    background-color: #cdf1f3;

    -ms-border-radius: 4px;
     -o-border-radius: 4px;
}
.slideThree:after
{
    position: absolute;
    z-index: 0;
    right: 10px;

    content: 'Inactivo';

    color: #0e3152;
}
.slideThree:before
{
    position: absolute;
    z-index: 0;
    left: 20px;

    content: 'Activo';

    color: #0e3152;
}
.slideThree label
{
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 15px;

    display: block;

    width: 64px;
    height: 22px;

    cursor: pointer;
    -webkit-transition: all .4s ease;
            transition: all .4s ease;

    border-radius: 50px;
    background: #0a3250;
    background: -webkit-linear-gradient(top, #0a3250 0%, #57757b 40%, #57757b 100%);
    background:         linear-gradient(to bottom, #0a3250 0%, #57757b 40%, #57757b 100%);
}
.slideThree input[type=checkbox]
{
    margin-right: 10px;
}
.slideThree input[type=checkbox]:checked + label
{
    left: 378px;
}
.search-form
{
    margin: 0 !important;
    padding: 0 !important;

    background-color: white !important;
}
/* end .slideThree */

.searchcrud
{
    font-family: 'Caviar_Dreams_Bold' !important;
    font-size: 20px !important;

    width: 95% !important;
    height: 35px !important;
    padding: 5px 1px 2px 9px !important;
}

.searchadmin
{
    font-family: 'Caviar_Dreams_Bold' !important;
    font-size: 20px !important;

    width: 81% !important;
    height: 35px !important;
    padding: 3px 1px 2px 9px !important;
    padding-right: 50px !important;
}
#projectsbar
{
    width: 70% !important;
}
.searchcrud::-webkit-input-placeholder,
.searchadmin::-webkit-input-placeholder
{
    padding: 3px 18px 2px 9px !important;
    padding-right: 50px !important;
    /* WebKit browsers */

    color: #1eb9c0 !important;
}
.searchcrud::-webkit-input-placeholder,
.searchadmin::-webkit-input-placeholder
{
    padding: 3px 18px 2px 9px !important;
    padding-right: 50px !important;
    /* navegadores Webkit */

    color: #1eb9c0 !important;
}
.searchcrud:-moz-placeholder,
.searchadmin:-moz-placeholder,
{
    padding: 3px 18px 2px 9px !important;
    padding-right: 50px !important;
    /* Mozilla Firefox 4 hasta 18 */

    color: #1eb9c0 !important;
}
.searchcrud::-moz-placeholder,
.searchadmin::-moz-placeholder
{
    padding: 3px 18px 2px 9px !important;
    /* Mozilla Firefox 19+ */

    color: #1eb9c0 !important;
}
.searchcrud:-ms-input-placeholder,
.searchadmin:-ms-input-placeholder
{
    padding: 3px 18px 2px 9px !important;
    padding-right: 50px !important;
    /* Internet Explorer 10+ */

    color: #1eb9c0 !important;
}
.items table tr
{
    margin: 10px !important;
}
.items thead th
{
    font-family: 'Caviar_Dreams' !important;
    font-size: .9em !important;
    font-style: normal !important;

    padding-top: 3px !important;
    padding-right: 5px !important;
    padding-bottom: 3px !important;
    padding-left: 5px !important;

    text-align: left !important;

    border: none !important;
    background-color: #798b9d !important;
}
.items table td
{
    font-size: 1.1em !important;

    min-width: 100px !important;
    height: 30px !important;
    margin-left: 30px !important;
    padding: 3px !important;

    text-align: left !important;

    border: none !important;
    background-color: white !important;
}
.items table
{
    font-family: 'Caviar_Dreams' !important;

    border: none !important;
}
.button-column
{
    width: 80px !important;
}
.grid-view
{
    padding: 0 0 !important;
}
.searchcrudbut
{
    width: 50px !important;
    height: 50px !important;

    border-radius: 4px;
    background-color: #cdf1f3;
}
table.detail-view
{
    font-family: 'Caviar_Dreams' !important;

    margin-top: 50px !important;
    margin-bottom: 50px !important;

    text-align: justify !important;
}
table.detail-view th,
table.detail-view  td
{
    font-family: 'Caviar_Dreams' !important;

    text-align: left !important;
    text-align: justify !important;

    background-color: white;
}
.row,
.row1
{
    margin: 15px !important;
}
.dFieldT,
.dFieldC,
.dFieldE
{
    margin-top: 10px !important;
}
.research2
{
    margin-left: 15px;
}
.odd td,
.even td
{
    font-family: 'Caviar_Dreams' !important;

    width: 250px;

    border-bottom: 2px solid #1eb9c0;
    background: #fff !important;
}
.odd th,
.even td
{
    font-family: 'Caviar_Dreams' !important;

    width: 250px;
}
.grid-view .button-column
{
    width: 10% !important;
    min-width: 100px !important;
}
.detail-view th
{
    font-family: 'Caviar_Dreams';

    color: #37b9bf;
}
.detail-view td
{
    font-family: 'Caviar_Dreams';
}
.items td th
{
    font-family: 'Caviar_Dreams';
}

.inner-addon
{
    position: relative;

    display: block !important;

    width: 100% !important;
    height: 50px !important;
}

/* style icon */
.inner-addon .glyphicon
{
    font-size: 23px;

    position: absolute;
    z-index: 999;

    padding: 10px;

    pointer-events: none;

    color: #1eb9c0;
}

/* align icon */
.left-addon .glyphicon
{
    left: 5px;
}
.right-addon .glyphicon
{
    right: 5px;
}

/* add padding  */

#infojus
{
    text-align: justify !important;
}
.sub1,
.sub2,
.sub3,
.sub3,
.sub4,
.sub5,
.sub6,
.sub7,
.sub8,
.sub9,
.sub10,
.sub11,
.sub12,
.sub13
{
    margin-left: 20px;
}
.menuitem  .sub a,
.menuitem .sub a:hover,
.menuitem .sub a:visited,
.operations .sub a:visited,
.operations .sub a
{
    margin-left: 20px;

    color: #0a324f !important;
}
.menuitem,
.menulis
{
    margin-top: 13px;
    margin-bottom: 13px;

    border-bottom: 1px solid ;
}
.menuitem a,
.menuitem a:hover,
.menuitem a:visited,
.menulis a,
.menulis a:hover,
.menulis a:visited,
.operations a:visited,
.operations a
{
    color: #1eb9c0 !important;
}
.menuitem.now a,
.menuitem.now a:hover,
.menuitem.now a:visited,
.menulis.now a,
.menulis.now a:hover,
.menulis.now a:visited,
.operations a:visited,
.operations a
{
    color: #0a324f !important;
    border-bottom: 0 solid white;
}
li.menuitem.now,
li.menulis.now
{
    border-bottom: 1px solid #0a324f;
}

/* admin css */
.adminmenu
{
    font-weight: bold;

    display: none;

    width: 100%;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #cdf1f3;
}
.adminmenu div
{
    display: inline-block;

    width: calc(100% / 6.2);
    padding-top: 10px;

    text-align: center;

    color: #1eb9c0 !important;
}
.adminmenu a
{
    text-decoration: none;

    color: #1eb9c0 !important;
}
.adminmenu a:hover
{
    text-decoration: none;

    color: #0e3152 !important;
}
.admintitle img
{
    display: inline-block;

    vertical-align: top;
}
.admintitle h1
{
    display: inline-block;

    margin: 0;
    margin-left: 30px;
    padding-top: 20px;

    vertical-align: top;
}
.admintitle hr
{
    width: 90% !important;
    margin-bottom: 0;
    margin-left: 105px;

    border-bottom: 2px solid #1eb9c0;
}
.subtitleadmin h4
{
    margin-left: 90px !important;
}
.adminbut
{
    width: 35px !important;
    height: 35px !important;
    padding: 5px;

        border-radius: 4px;
    background-color: #cdf1f3 !important;
    background-image: url('../img/icons/menuBuscar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;

    -ms-border-radius: 4px;
     -o-border-radius: 4px;
}
.admin_create,
.admin_create:hover
{
    font-size: 20px;

    display: block;
    float: right;

    width: 175px ;
    height: 35px;
    margin-left: 5px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    text-align: center;
    text-decoration: none;
    text-decoration: none;

    opacity: .6;
    color: white;
        border-radius: 4px;
    background-color: #1eb9c0;

    -ms-border-radius: 4px;
     -o-border-radius: 4px;
}

#knowledge-application-grid th
{
    text-align: center !important;
}
.fullnamed
{
    display: inline-block;
    width: 71.5%;
    margin: 0;
    text-align: left;
    padding-left: 236px;
    color: white;
    font-size: .9em;



}
.fullnamed h6
{
  margin-left: 10px; margin-right: 10px;
}
.typelabe,
.logoutbars
{
    display: inline-block;

    width: 13%;
    margin: 0;

    text-align: center;
    vertical-align: top;
}
#projects-form p
{
    width: 450px;

    text-align: justify;
}
.Rarrow,
.Larrow
{
    width: 50px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;

    text-align: center;
}
.cancelb
{
    width: 110px !important;
    margin-left: -40px;
}
.savepro
{
    background-color: #0a324f !important;
}


table select
{
    font-size: 9px;

    width: 65px !important;
    height: 15px !important;
}

ul.yiiPager .selected a
{
    background-color: #1eb9c0 !important;
}
ul.yiiPager a:hover,
.pager li > a:hover
{
    color: white !important;
    background-color: #0e3152 !important;
}
.tableheader
{
    height: 35px;

    color: white;
    background-color: #1eb9c0;
}
.tableheader h4
{
    padding: 8px;
}
.table.Backup th
{
    height: 15px;
    padding: 2px;

    color: white;
    background-color: #798b9d;
}
.table a,
.table  a:hover
{
    text-decoration: none !important;
}

.grid-view table.items tr.odd,
.grid-view table.items tr.even
{
    border-bottom: 2px solid #cdf1f3;
}
#myModal
{
    width: 610px;

    border: 0 !important;
    background-color: transparent !important;
    box-shadow: 0 0 0 0 rgba(0,0,0,.75);
}
div.modal-content
{
    display: block;

    width: 400px;
    margin: auto;

    text-align: center;

    border: 0;
    border-radius: 0;
}
div.modal-body
{
    height: 100px;

    border: 0;
    border-radius: 0;
}
div.modal-footer
{
    border: 0;
    border-radius: 0;
    background-color: #0a324f;
}
#deleteRegis,
#deleteRegis:hover
{
    text-decoration: none;

    color: #0a324f;
}
.dropinline
{
    display: inline-block !important;

    width: 150px !important;
}
.grafiOpt,
.tableOpt
{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;

    text-align: center;
}


div.pager
{
    margin: 1em 0;

    text-align: center;
}

div.pager span
{
    line-height: 1.9;

    display: inline-block;

    width: 1.8em;
    height: 1.8em;
    margin-right: .5em;
    padding-right: 1px;

    cursor: pointer;
    text-align: center;
    text-align: center;

    color: #fff;
    border-radius: 4px;
    border-radius: 50%;
    background: #1eb9c0;
}

div.pager span.active
{
    background: #0a324f;
}
.deleteval
{
    width: 25px;
    height: 25px;
    margin-left: 5px;

    border-radius: 4px;
    background-color: transparent;
    background-image: url('../img/Acciones/desactivar.png');
    background-repeat: no-repeat;
    background-position: center;
}
.null
{
    font-family: 'Caviar_Dreams_Bold';
    font-weight: bold;

    color: #0a324f !important;
}
.error403
{
    display: block;

    margin: auto;
}
.dobless
{
    font-size: 12px;

    position: fixed;
    z-index: 1000;

    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;

    opacity: .8;
    color: white;
    border-radius: 5px;
    background-color: #1eb9c0;
}
.dobless #yt2,
.dobless #yt1
{
    width: 100%;

    background-color: #0a324f;
}
.notification
{
    font-family: 'Caviar_Dreams';
    font-size: 11px;

    position: absolute;
    z-index: 1000;
    top: 10%;
    left: 51%;

    width: 30px;
    height: 30px;
    padding: 4px;

    text-align: center;

    opacity: 1;
    color: white;
    border-radius: 50%;
    background: #0a324f;
}
.projectsbutts > a,
.projectsbutts > a:hover
{
    font-size: 11px;

    display: inline-block;

    width: 130px ;
    height: 39px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;

    text-align: center;
    text-decoration: none;

    opacity: .7;
    color: white;
    border-radius: 4px;
    background-color: #1eb9c0;
}
.loader
{
    font-family: 'Caviar_Dreams_Bold';

    position: absolute;
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
    left: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    background: rgba(40, 50, 90, .70);

}
.heart
{
  height: 240px;
  width: 240px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 8888;
}

.fa-heart {


  height: 240px;
  width: 240px;
  margin-left: auto;
  margin-right:auto;
  color: #0A324F;
  font-size: 200px;
  display: block !important;
  text-align: center;

 -moz-animation-duration: 3s;
  -webkit-animation-duration: 2s;
  -moz-animation-name: wave;
  -webkit-animation-name: wave;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite
}

@-moz-keyframes wave {
  from {
    font-size: 240px;
  }
  10%{
    font-size: 210px;
  }
  15%{
    font-size: 200px;
  }
  20% {
    font-size: 240px;
  }
  50% {
    font-size: 215px;
  }
  to {
    font-size: 235px;
  }
}

@-webkit-keyframes wave {
  from {
    font-size: 240px;
  }
  10%{
    font-size: 210px;
  }
  15%{
    font-size: 200px;
  }
  20% {
    font-size: 240px;
  }
  50% {
    font-size: 215px;
  }
  to {
    font-size: 235px;
  }
}

.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}
.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse linear infinite;
  animation: 2s pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
}
.pulse:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;

}


@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4;
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
}
@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity:1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }

}

/* CHANGES STATUS COLOR OF IMPORTANT ROWS FOR PROJECTS SECTION */
.checkThisItem{
    background-color: red !important;
}
.downloadrow
{
	text-align:center;
}
.tooltipchart
{
	padding:2px;
	font-size:10px;
	display:none;
	position:absolute;
	top:700px;
	left:1000px;
	z-index:9999;

  text-align: center;
  border-radius: 5px;
  border: 2px solid #0E3152;
  background: #0E3152;
  color: #fff;
  width: 190px !important;
}
#Languages_native_language,#Languages_is_traducer, #Languages_is_teacher
{
  width: auto;
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.ui-autocomplete li
{
  background-color: #00B9C0 !important;
  color: white !important;
}
