.usersback
{
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
 	background: rgba(40, 50, 90, .70);
 	z-index: 900;
}
#crateusers fieldset
{
	
	
	margin: -10px 33.8%;
	/*stacking fieldsets above each other*/
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	height: auto;	
	background: white;
	font-family: 'Caviar_Dreams';
	z-index: 999;

}
.infoboxes
{
	visibility: hidden;
	width: 190px;
	height: 50px;
	color: white;
	background-color: #0E3152;
    color: white;
    z-index: 999;
    position: absolute;

}
.infoboxes:after
{
	content:"";
    border-color: transparent #0E3152 transparent transparent;
    border-style:solid;
    border-width: 25px;
    width:0;
    height:0;
    position:absolute;
    top: .5px;
    left: -40px

}
.infoboxes span
{
	font-size: 90%;
	padding-left: 11px;
}
/* Fieldset 1  infoboxes*/
.infoboxes.name{ left: 860px; top: 150px; }
.infoboxes.lastname{ left: 860px; top: 230px; }
.infoboxes.lastname2{ left: 860px; top: 310px; }
/* Fieldset 2 infoboxes */
.infoboxes.country{ left: 860px; top: 170px; }
.infoboxes.curp{ left: 860px; top: 260px; height: 55px; }
/* Fieldset 3  infoboxes*/

.infoboxes.email{ left: 860px; top: 150px; height: 55px;}
.infoboxes.email2{ left: 860px; top: 230px; }
.infoboxes.pass{ left: 860px; top: 300px; }
.infoboxes.pass2{ left: 860px; top: 375px; }

.emptycontent
{
	height: 20px;
}
.countusers
{
 	margin-left: auto;
 	margin-right: auto;
	margin-top: 100px;
	width: 400px;
	height: auto;	
	background: #1EB9C0;
	color: white;
	font-family: 'Caviar_Dreams';
	z-index: 999;
	text-align: center;

}
.createHome
{
	display: none;
}
#crateusers fieldset:not(:first-of-type) {
	 display: none;
}


#crateusers input[type="text"], #crateusers input[type="password"]
{
    background-color: #CDF1F3 !important;
	opacity: .80;
	height: 50px !important;
	width: 350px !important;
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	font-family: 'Caviar_Dreams_Bold' !important; 
	font-size: 20px !important; 
    padding-top: 10px !important;
	padding-left: 20px !important;
	color: #1EB9C0 !important;
	opacity: .60 !important;
}
#crateusers input[type="submit"].previousform , #crateusers input[type="button"].previousform
{
	width: 400px !important;
	height: 50px !important;
	background-color: #0E3152;
	color: white;
	margin-left: -11px;
	font-family: 'Caviar_Dreams_Bold';
	font-size: 25px;
	margin-top: -5px;
	margin-bottom: 10px;
	position: absolute;

}

#crateusers input[type="submit"].nextform , #crateusers input[type="button"].nextform,
#crateusers input[type="submit"].row , #crateusers input[type="submit"], #crateusers input[type="button"].row , #crateusers input[type="button"]
{
	width: 400px !important;
	height: 50px !important;
	background-color: #0E3152;
	color: white;
	margin-left: -11px;
	font-family: 'Caviar_Dreams_Bold';
	font-size: 25px;
	margin-top: 48px;
	margin-bottom: 0;
	position: absolute;


}
#crateusers input[type="button"].row:disabled , #crateusers input[type="button"]:disabled
{
	background-color: #;
}
.bfh-selectbox .bfh-selectbox-toggle
{
	background-color: #CDF1F3 !important;
	opacity: .80;
	height: 50px !important;
	width: 350px !important;
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	font-family: 'Caviar_Dreams_Bold' !important; 
	font-size: 20px !important; 
	padding-left: 15px !important;
	opacity: .60 !important;
}
.bfh-selectbox-options
{
	
	width: 350px !important;
	
}
.bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option {
    display: inline-block;
    float: left;
    width: 100%;
    height: 40px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*progressbar*/


.progreesbar
{
	margin-right: auto;
	margin-left: auto;
	margin-top: 48px;
	width: 400px;
}


#progressbar {
	
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 30%;
	float: left;
	position: relative;
	text-align: center;

}
#progressbar li:before {
	
	width: 30px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #E6E7E8;
	border-radius: 3px;
	margin: 0 auto 50px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 42%;
	height: 2px;
	background: #E6E7E8;
	position: absolute;
	left: -23%;
	top: 30px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
#progressbar li.active:before,  #progressbar li.active:after{
	background: white;
	color: black;
}

