.usersback
{
    position: absolute;
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
    left: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(40, 50, 90, .70);
}
#crateusers fieldset
{
    font-family: 'Caviar_Dreams';

    z-index: 999;

    width: 400px;
    height: auto;
    margin: -10px 33.8%;
    /*stacking fieldsets above each other*/
    margin-right: auto;
    margin-left: auto;

    background: white;
}
.infoboxes
{
    position: absolute;
    z-index: 999;

    visibility: hidden;

    width: 190px;
    height: 50px;

    color: white;
    color: white;
    background-color: #0e3152;
}
.infoboxes:after
{
    position: absolute;
    top: .5px;
    left: -40px;

    width: 0;
    height: 0;

    content: '';

    border-width: 25px;
    border-style: solid;
    border-color: transparent #0e3152 transparent transparent;
}
.infoboxes span
{
    font-size: 90%;

    padding-left: 11px;
}
/* Fieldset 1  infoboxes*/
.infoboxes.name
{
    top: 150px; 
    left: 860px;
}
.infoboxes.lastname
{
    top: 230px; 
    left: 860px;
}
.infoboxes.lastname2
{
    top: 310px; 
    left: 860px;
}
/* Fieldset 2 infoboxes */
.infoboxes.country
{
    top: 170px; 
    left: 860px;
}
.infoboxes.curp
{
    top: 260px;
    left: 860px;

    height: 55px;
}
/* Fieldset 3  infoboxes*/

.infoboxes.email
{
    top: 150px;
    left: 860px;

    height: 55px;
}
.infoboxes.email2
{
    top: 230px; 
    left: 860px;
}
.infoboxes.pass
{
    top: 300px; 
    left: 860px;
}
.infoboxes.pass2
{
    top: 375px; 
    left: 860px;
}

.emptycontent
{
    height: 20px;
}
.countusers
{
    font-family: 'Caviar_Dreams';

    z-index: 999;

    width: 400px;
    height: auto;
    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    color: white;
    background: #1eb9c0;
}
.createHome
{
    display: none;
}
#crateusers fieldset:not(:first-of-type)
{
    display: none;
}
#crateusers input::-webkit-input-placeholder,
#crateusers input::-moz-placeholder,
#crateusers input::-ms-input-placeholder
{
    font-family: 'Caviar_Dreams_Bold';
    font-size: 20px;

    padding-top: 5px !important;

    opacity: .60;
    color: #1eb9c0;
}

#crateusers input[type='text'],
#crateusers input[type='password']
{
    font-family: 'Caviar_Dreams_Bold' !important;
    font-size: 20px !important;

    display: block !important;

    width: 350px !important;
    height: 50px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-top: 5px !important;
    padding-right: 55px !important;
    padding-left: 20px !important;

    opacity: .80;
    opacity: .60 !important;
    color: #1eb9c0 !important;
    background-color: #cdf1f3 !important;
}
#crateusers input[type='submit'].previousform,
#crateusers input[type='button'].previousform
{
    font-family: 'Caviar_Dreams_Bold';
    font-size: 25px;

    position: absolute;

    width: 400px !important;
    height: 50px !important;
    margin-top: 55px;
    margin-bottom: 10px;
    margin-left: -11px;

    color: white;
    background-color: #0e3152;
}

#crateusers input[type='submit'].nextform,
#crateusers input[type='button'].nextform,
#crateusers input[type='submit'].row,
#crateusers input[type='submit'],
#crateusers input[type='button'].row,
#crateusers input[type='button']
{
    font-family: 'Caviar_Dreams_Bold';
    font-size: 25px;

    position: absolute;

    width: 400px !important;
    height: 50px !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -11px;

    color: white;
    background-color: #0e3152;
}
#Persons_country
{
    font-family: 'Caviar_Dreams_Bold' !important;
    font-size: 20px !important;

    display: block !important;

    width: 350px !important;
    height: 50px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-top: 10px !important;
    padding-left: 20px !important;

    opacity: .80;
    opacity: .60 !important;
    color: #1eb9c0 !important;
    background-color: #cdf1f3 !important;
}

.bfh-selectbox .bfh-selectbox-toggle
{
    font-family: 'Caviar_Dreams_Bold' !important;
    font-size: 20px !important;

    display: block !important;

    width: 350px !important;
    height: 50px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 15px !important;

    opacity: .80;
    opacity: .60 !important;
    background-color: #cdf1f3 !important;
}
.bfh-selectbox-options
{
    width: 350px !important;
}
.bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option
{
    display: inline-block;
    float: left;
    overflow: hidden;

    width: 100%;
    height: 40px !important;

    text-overflow: ellipsis;
}

/*progressbar*/


.progreesbar
{
    width: 400px;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
}


#progressbar
{
    overflow: hidden;

    margin-bottom: 30px;
    /*CSS counters to number the steps*/

    counter-reset: step;
}
#progressbar li
{
    font-size: 9px;

    position: relative;

    float: left;

    width: 30%;

    list-style-type: none;

    text-align: center;
    text-transform: uppercase;

    color: white;
}
#progressbar li:before
{
    font-size: 10px;
    line-height: 20px;

    display: block;

    width: 30px;
    margin: 0 auto 50px auto;

    color: #333;
    border-radius: 3px;
    background: #e6e7e8;
}

/*progressbar connectors*/
#progressbar li:after
{
    position: absolute;
    z-index: -1; /*put it behind the numbers*/
    top: 30px;
    left: -23%;

    width: 42%;
    height: 2px;

    content: '';

    background: #e6e7e8;
}
#progressbar li:first-child:after
{
    /*connector not needed before the first step*/
    content: none;
}
#progressbar li.active:before,
#progressbar li.active:after
{
    color: black;
    background: white;
}
#RegistroSus
{
    text-align: center;

    color: #1eb9c0 !important;
}
#resgistrohr
{
    margin-left: 140px;
}
#LogInUsers
{
    margin-top: 0 !important;
}
#pasaporte,
#curp
{
    display: none;
}
